/* Tablet */
@media only screen and (max-width: 1024px) {

    /* Navigation / Nav*/
    .nav-links>ul {
        display: none;
    }

    .mobile-menu {
        display: inherit;
        background-image: url('../img/menu.svg');
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .mobile-menu,
    .mobile-menu_open,
    .mobile-links {
        animation: comeIn 0.3s;
    }

    .mobile-menu_open.mobile-menu {
        background-image: url('../img/ex.svg');
    }

    .mobile-menu_open .mobile-links {
        display: inherit !important;
    }

    .mobile-links {
        display: none;
        width: 100%;
        padding: 1em 0;
        position: absolute;
        right: 0;
        top: 4em;
        text-align: right;
        overflow: hidden;
    }

    .mobile-links ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-links li {
        padding: 10px;
    }

    @keyframes comeIn {
        from {
            transform: translateY(-150%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}