/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-display: fallback;
    font-size: 4vmin;
    height: 100%;
    letter-spacing: 5px;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --theme-color: rgb(251, 163, 63);
    --theme-color2: rgba(252, 70, 70, 1);
    --bg-gradient: linear-gradient(53deg, var(--theme-color) 0%, var(--theme-color2) 100%);
}

a {
    color: inherit;
    text-decoration: unset;
}

li {
    display: inline;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    color: var(--theme-color2);
}

#dot_nav {
    width: inherit;
    width: fit-content;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    right: 1%;
    bottom: 10%;
    font-size: 11vmin;
    color: rgba(0, 0, 0, 0.2);
}


.global_spacing {
    padding: 5%;
}


.cta {
    padding: 20px 30px;
    background: var(--theme-color);
    background: linear-gradient(53deg, var(--theme-color) 0%, var(--theme-color2) 100%);
    border-radius: 100px;
    color: #fff;
    text-align: right;
    font-weight: bold;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
}


#about,
#portfolio,
#contact {
    text-align: center;
}


#home,
#about,
#portfolio,
#contact {
    height: fit-content;
    min-height: 100vh;
}




/* Home Page*/
header {
    z-index: 1;
}

header nav {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0.9em;
    align-items: center;
}

header nav div:nth-child(1) img {
    width: 50px;
}

header nav div:nth-child(2) {
    text-align: right;
    padding-right: 40px;
}

header nav ul {
    width: 100%;
}

header nav li:nth-child(2) {
    padding: 0 5%;
}


.header-content {
    padding: 7% 10%;
    text-align: center;
    position: relative;
}

.header-content h1 {
    font-size: 3.2rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-content h1::before,
.header-content h1::after {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.70);
    text-shadow: none;
}

.header-content h1::before {
    content: "Hi I'm";
    margin-bottom: 3%;
}

.header-content h1::after {
    content: "A Full-Stack Web Developer";
    margin-top: 3%;
}


/* About Page */
#about {
    text-align: center;
}

#about p {
    margin: 5% 0;
}

#about img {
    width: 10%;
}

/* Portfolio page */
.projects {
    margin-top: 5%;
    display: grid;
    grid-template-areas: 'a b c''d d d';
    grid-gap: 3%;
}

.project:nth-child(1) {
    grid-area: a;
}

.project:nth-child(2) {
    grid-area: b;
}

.project:nth-child(3) {
    grid-area: c;
}

.project {
    width: 100%;
    font-size: 2.6vmin;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    overflow: hidden;
}

.prj-img {
    height: 40vh;
}

.prj-1 {
    background: url('resources/todolist_scrn.png');
}

.prj-2 {
    background: url('resources/simpleSearch_scrn.png');
}

.prj-3 {
    background: url('resources/books_scrn.png');
}

.prj-1,
.prj-2,
.prj-3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.prj-desc {
    padding: 5%;
    background-color: #fff;
}


.prj-tags {
    margin-top: 5%;
    letter-spacing: 3px;
}

.prj-tags ul {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.85em;
    line-height: 2;
    padding: 5%;
    cursor: default;
}

.prj-tags li {
    padding: 5px;
}

.link {
    color: var(--theme-color);
}

.link:hover {
    color: var(--theme-color2);
}

/* Skills section */

.skills {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#skills div div li {
    font-size: 0.65em;
    border: 1px solid grey;
    padding: 5px;
    margin-top: 10px;
    cursor: default;
    display: inline-block;
}

#skills div div li:hover {
    background: var(--theme-color2);
    color: #fff;
}

hr {
    margin: 10vmin 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}


/* Contact page */

#contact {
    min-height: fit-content;
}

.contact-form {
    margin-top: 10vmin;
}

input,
textarea,
button {
    border-radius: 4px;
}

input,
textarea {
    padding: 3% 10px;
    height: 7vmin;
    border: 1px solid rgb(180, 180, 180);
}

textarea {
    height: 85%;
    resize: none;
}

button {
    min-height: 38px;
    padding: 3%;
    height: 10vmin;
    border: none;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.submitBtn {
    background: var(--theme-color2);
}

.submitBtn:hover {
    background: var(--bg-gradient);
}

.cancelBtn {
    background: rgb(180, 180, 180);
}


label,
form {
    display: grid;
    grid-gap: 3vmin;
}

form {
    display: grid;
    grid-template-areas: 'a b''c c';
    grid-row-gap: 5vmin;
}

form label:nth-child(1) {
    grid-area: a;
}

form label:nth-child(2) {
    grid-area: b;
}

form label:nth-child(3) {
    grid-area: c;
}


.btnLabel {
    grid-template-columns: 1fr 1fr;
}


/* Footer */

footer {
    font-size: 2.5vmin;
    text-align: center;
    padding: 20px;
}

footer a,
#about a {
    color: var(--theme-color2);
}

.socials {
    width: 100%;
    margin: 10vmin;
    margin-left: 0;
    display: inline-block;
    justify-content: space-between;
    font-size: 1rem;
}

.socials i {
    width: 20%;
    padding: 3vmin;
    background: grey;
    border-radius: 100px;
    color: #fff;
    text-align: center;
}


.socials li {
    display: inline;
    word-spacing: 10px;
}

.socials li:nth-child(1) i {
    background: rgb(110, 84, 148);
}

.socials li:nth-child(2) i {
    background: rgb(221, 75, 57);
}

.socials li:nth-child(3) i {
    background: rgb(0, 119, 181);
}